:root {
    --main-color: #171717;
    --secondary-color: #292929;
    --contrast-color: #0264b5;
    --secondary-contrast-color: #00b7ff;
}
body, html {
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--main-color);
    box-sizing: border-box;
    color: white;
    font-size: 100%;
    scroll-behavior: smooth;
    
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  color: white;
}

.bm-cross-button {
  width: 36px;
  height: 36px;
  color: white;
}

.bm-menu {
  background: var(--secondary-color);
  padding: 2.5em 1em 0;
  font-size: 1.15em;
}
.bm-item-list {
  color: #b8b7ad;
  height: fit-content !important;
  .bm-item {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  a {
    text-decoration: none;
    color: var(--contrast-color);
    transition: all 0.3s;
    &:hover {
      color: var(--secondary-contrast-color);
      background: rgba(0, 0, 0, 0.3)

    }
  }
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.intro {
  width: 100%;
  height: 100vh;
  background: url("./assets/space-background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100vw;
  overflow: hidden;
  text-align: center;
}

.svgwrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	margin: 0 auto;
  width: fit-content;
  &:hover .shape {
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
    stroke: var(--secondary-contrast-color);
  }
}
.shape {
  
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: var(--contrast-color);
  border-bottom: 5px solid black;
  transition: stroke-dashoffset 0.8s, stroke-dasharray 0.8s, stroke 0.8s;
}

.text {
  line-height: 32px;
  letter-spacing: 8px;
  font-size: 1.375rem;
  color: white;
  position: relative;
  top: -48px;
}

::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--contrast-color);
}

.desc::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}
.repoCard {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 25% 1% 59%  15%;
  grid-template-areas: "name name" "hr hr" "desc icons" "language language";
  place-items: center start;
  padding: 20px;
  gap: 5px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  height: 230px;
  
  
  .name {
    grid-area: name;
    height: 100%;
  }
  
  .hr {
    grid-area: hr;
    width: 100%;
    height: 100%;
    background-color: var(--contrast-color);
  }
  
  .desc {
    grid-area: desc;
    overflow: auto;
    max-height: 100%; 
  }

  
  
  .icons {
    grid-area: icons;
    height: 100%;
    place-self: stretch center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    p {
      margin: 5px;
      font-weight: bold;     
    }
  }
  
  
  .language {
    grid-area: language;
    height: 100%;
    span {
      background-color: var(--secondary-contrast-color);
      padding: 0.3rem 0.5rem;
      color: var(--secondary-color);
      border-radius: 50px;
      font-weight: bold;
    }
  }
}

.projectsWrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
    a {
      margin: 30px;
      width: calc(50% - 60px);
      text-decoration: none;
      color: white;
    }
}

.footer {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contactWrapper {
    width: 60%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .contactTitle {
    background-color: var(--secondary-color);
    padding: 0.75rem;
    font-size: 125%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .contactForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    input, textarea {
      border: none;
      border-radius: 3px;
      padding: 10px;
      resize: vertical;
      outline: none;
      box-sizing: content-box;
      border-bottom: solid 3px transparent;
      margin: 5px 0;
      margin-bottom: 1rem;
    }
    textarea {
      height: 130px;
    }
    label {
      font-weight: 600;
    }
    input:focus, textarea:focus {
      border-bottom: solid 3px var(--contrast-color);
    }
  }
  
  
  .contact {
    display: flex;
    align-items: center;
    justify-content: start;
    .submit__button {
      background-color: var(--contrast-color);
    }
    
    .contact-list {
      list-style-type: none;
      padding-right: 20px;
    }
    
    .list-item {
      line-height: 4;
      color: white;
    }
    
    .contact-text {
      font: 300 16px 'Lato', sans-serif;
      letter-spacing: 1.9px;
      color: white;
      transition: all 0.3s;
      text-align: center;
    }
    
    .place {
      margin-left: 32px;
    }
    
    .phone {
      margin-left: 25px;
    }
    
    .gmail {
      margin-left: 26px;
    }
  }
}

.about {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .aboutTitle {
    padding: 0.75rem;
    font-size: 150%;
    letter-spacing: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-bottom: 3px  solid var(--contrast-color);
    margin: 2rem;
    h1 {
      margin: 0;
    }
  }
  
  .aboutWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    margin: 2rem;
  }
  
  .aboutImage {
    padding: 1.3rem;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  
  }
  .aboutText {
    padding: 1.3rem;
    text-align: justify;
  }
}

.experience {
  
}